<div th:fragment="sidebar(activePage, activeSub, reserved)" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="sidebar">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="index.html"><img th:src="@{/assets/compiled/svg/logo.svg}" alt="Logo" srcset=""></a>
                    </div>
                    <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                             role="img" class="iconify iconify--system-uicons" width="20" height="20"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                            <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                               stroke-linejoin="round">
                                <path
                                        d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                        opacity=".3"></path>
                                <g transform="translate(-210 -1)">
                                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                    <circle cx="220.5" cy="11.5" r="4"></circle>
                                    <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                                </g>
                            </g>
                        </svg>
                        <div class="form-check form-switch fs-6">
                            <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                            <label class="form-check-label"></label>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                             role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet"
                             viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                            </path>
                        </svg>
                    </div>
                    <div class="sidebar-toggler  x">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>
                    <li sec:authorize="hasRole('SUPERADMIN') or hasRole('ADMIN')" class="sidebar-item"
                        th:if="${activePage == 'dashboard'}">
                        <a th:href="@{/v1/superuser/home}" class='sidebar-link'>
                            <i class="bi bi-arrow-left-square-fill"></i>
                            <span th:text="#{label.previousPage}"></span>
                        </a>
                    </li>
                    <li id="dashboardMenu" class="sidebar-item" th:classappend="${activePage == 'dashboard'} ? ' active'">
                        <a th:href="@{/v1/manager/home(pid=${session.targetAddress.pubId})}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span th:text="${activeSub == 'subMenu1' || activeSub == 'subMenu2'} ? #{label.backToDashboard} : #{label.dashboard}"></span>
                        </a>
                    </li>
                    <li id="sidebarMenu1" class="sidebar-item has-sub" th:classappend="${activePage == 'menu1'} ? ' active'">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-briefcase-fill"></i>
                            <span th:text="#{label.setting}">Management</span>
                        </a>
                        <ul class="submenu">

                            <!-- General
                            <li id="subMenu1-1" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-1')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.general}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-1-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-1-1'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.general.profil}"></a>
                                    </li>
                                    <li id="subMenu1-1-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-1-2'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.general.serviceTax}"></a>
                                    </li>
                                    <li id="subMenu1-1-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-1-3'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.general.discountPromo}"></a>
                                    </li>
                                </ul>
                            </li>-->

                            <!-- Employee -->
                            <li id="subMenu1-2" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-2')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.employee}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-2-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-2-1'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-2-1')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-2-1'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.employee.list}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-2-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-2-2'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-2-2')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-2-2'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.employee.roleAccess}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-2-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-2-3'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-2-3')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-2-3'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.employee.shiftSchedule}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-2-4" class="submenu-item" th:classappend="${activeSub == 'subMenu1-2-4'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-2-4')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-2-4'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.employee.attendance}">
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Product -->
                            <li id="subMenu1-3" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-3')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.product}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-3-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-3-1'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-3-1')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-3-1'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.product.category}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-3-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-3-2'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-3-2')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-3-2'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.product.item}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-3-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-3-3'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-3-3')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-3-3'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.product.stock}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-3-4" class="submenu-item" th:classappend="${activeSub == 'subMenu1-3-4'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-3-4')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-3-4'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.product.promoBundle}">
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Finance
                            <li id="subMenu1-4" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-4')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.finance}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-4-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-4-1'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.finance.salesReport}"></a>
                                    </li>
                                    <li id="subMenu1-4-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-4-2'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.finance.revenue}"></a>
                                    </li>
                                    <li id="subMenu1-4-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-4-3'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.finance.refundVoid}"></a>
                                    </li>
                                    <li id="subMenu1-4-4" class="submenu-item" th:classappend="${activeSub == 'subMenu1-4-4'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.finance.paymentMethod}"></a>
                                    </li>
                                </ul>
                            </li>-->

                            <!-- Analytics
                            <li id="subMenu1-5" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-5')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.analytics}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-5-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-5-1'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.analytics.bestProduct}"></a>
                                    </li>
                                    <li id="subMenu1-5-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-5-2'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.analytics.peakHour}"></a>
                                    </li>
                                    <li id="subMenu1-5-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-5-3'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.analytics.locationReport}"></a>
                                    </li>
                                    <li id="subMenu1-5-4" class="submenu-item" th:classappend="${activeSub == 'subMenu1-5-4'} ? ' active'">
                                        <a href="#" class="submenu-link" th:text="#{label.manager.setting.analytics.customerInsight}"></a>
                                    </li>
                                </ul>
                            </li>-->

                            <!-- Operational -->
                            <li id="subMenu1-6" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-6')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.operational}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-6-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-6-1'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-6-1')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-6-1'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.operational.tableLayout}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-6-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-6-2'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-6-2')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-6-2'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.operational.devicePrinter}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-6-3" class="submenu-item" th:classappend="${activeSub == 'subMenu1-6-3'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-6-3')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-6-3'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.operational.backupRestore}">
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Security -->
                            <li id="subMenu1-7" class="submenu-item has-sub" th:classappend="${activeSub != null and activeSub.startsWith('subMenu1-7')} ? ' active'">
                                <a href="#" class="submenu-link" th:text="#{label.manager.setting.security}"></a>
                                <ul class="submenu submenu-level-2">
                                    <li id="subMenu1-7-1" class="submenu-item" th:classappend="${activeSub == 'subMenu1-7-1'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-7-1')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-7-1'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.security.userLog}">
                                        </a>
                                    </li>
                                    <li id="subMenu1-7-2" class="submenu-item" th:classappend="${activeSub == 'subMenu1-7-2'} ? ' active'">
                                        <a th:href="@{/v1/manager/manage/product/cat(pid=${session.targetAddress.pubId},activePage='menu1',activeSub='subMenu1-7-2')}"
                                           class="submenu-link"
                                           th:style="${activeSub == 'subMenu1-7-2'} ? 'pointer-events:none;' : ''"
                                           th:text="#{label.manager.setting.security.session}">
                                        </a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                    <!--li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-gear-fill"></i>
                            <span th:text="#{label.setting}"></span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item  has-sub">
                                <a href="#" class="submenu-link"><span th:text="#{label.language}"></span></a>
                                <ul class="submenu submenu-level-2 ">
                                    <li class="submenu-item ">
                                        <a th:href="@{/shared/changeLanguage(lang=id)}" class="submenu-link">Indonesia</a>
                                    </li>
                                    <li class="submenu-item ">
                                        <a th:href="@{/shared/changeLanguage(lang=en)}" class="submenu-link">English</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li-->
                    <li class="sidebar-item">
                        <!--a href="#" onclick="document.getElementById('logoutForm').submit(); return false;" class='sidebar-link'-->
                        <a href="#" class='sidebar-link' id="logoutLink">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>