<div th:fragment="sub-sidebar">
    <li
            class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-people"></i>
            <span th:text="#{label.manage}+' '+#{label.clients}"></span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item  ">
                <a th:href="@{/v1/superuser/clients/add}" class="submenu-link" th:text="#{label.add}+' '+#{label.clients}"></a>
            </li>
            <li class="submenu-item  ">
                <a href="component-accordion.html" class="submenu-link" th:text="#{label.update}+' '+#{label.clients}"></a>
            </li>
            <li class="submenu-item  ">
                <a href="component-accordion.html" class="submenu-link" th:text="#{label.delete}+' '+#{label.clients}"></a>
            </li>
            <!--li class="submenu-item  has-sub">
                <a href="#" class="submenu-link">ManageClient</a>
                <ul class="submenu submenu-level-2 ">
                    <li class="submenu-item ">
                        <a href="ui-multi-level-menu.html" class="submenu-link">Add New Client</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="#" class="submenu-link">Edit Client</a>
                    </li>
                </ul>
            </li>
            <li class="submenu-item  has-sub">
                <a href="#" class="submenu-link">Another Menu</a>
                <ul class="submenu submenu-level-2 ">
                    <li class="submenu-item ">
                        <a href="#" class="submenu-link">Second Level Menu</a>
                    </li>
                </ul>
            </li-->
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Logout</span>
        </a>
    </li>
</div>
