<div th:fragment="add-client" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><span th:text="'Form '+#{label.addNuClient}" style="color:#27B7F5"></span></h3>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <h5 class="card-title" style="padding:0 0 15px 0;color:#3460bb"><span th:text="#{label.infoCompany}"></span></h5>
                            <form class="form" th:action="@{/v1/superuser/clients}" method="post" id="myform" target="_self">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="clientName"><span th:text="#{label.companyName}"></span></label>
                                            <input type="text" id="clientName" class="form-control"
                                                   th:placeholder="#{label.companyName}" name="clientName" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="clientType"><span th:text="#{label.companyField}"></span></label>
                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="clientType">Options</label>
                                                <select class="form-select" id="clientType" name="clientType" required>
                                                    <option selected><span th:text="#{label.choose}+'...'"></span></option>
                                                    <option value="lodge" th:text="#{label.accommodation}"></option>
                                                    <option value="f&b" th:text="#{label.foodBeverages}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title" style="padding: 20px 0 15px 10px;color:#3460bb"><span th:text="#{label.companyContact}"></span></h5>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="contactName" th:text="#{label.fullName}"></label>
                                            <input type="text" id="contactName" class="form-control" th:placeholder="#{label.fullName}"
                                                name="contactName" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label th:text="#{label.position}"></label>
                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="contactPosition">Options</label>
                                                <select class="form-select" id="contactPosition" name="contactPosition" required>
                                                    <option selected><span th:text="#{label.choose}+'...'"></span></option>
                                                    <option value="own" th:text="#{label.owner}"></option>
                                                    <option value="dir" th:text="#{label.director}"></option>
                                                    <option value="mgr" th:text="#{label.manager}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="contactPhone">Phone</label>
                                            <input type="number" id="contactPhone" class="form-control"
                                                name="contactPhone" placeholder="Phone" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Email</label>
                                            <input type="email" id="email-id-column" class="form-control"
                                                name="contactEmail" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <h5 class="card-title" style="padding: 20px 0 15px 10px;color:#3460bb"><span th:text="#{label.companyAddress}"></span></h5>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="addressName" th:text="#{label.locationName}"></label>
                                            <input type="text" id="addressName" class="form-control" th:placeholder="#{label.locationName}"
                                                   name="addressName" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="addressNickname" th:text="#{label.locationNickName}"></label>
                                            <input type="text" id="addressNickname" class="form-control" th:placeholder="#{label.locationNickName}"
                                                   name="addressNickname" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="addressLine1" th:text="#{label.addressLine1}"></label>
                                            <input type="text" id="addressLine1" class="form-control"
                                                   name="addressLine1" th:placeholder="#{label.addressLine1}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="addressLine2" th:text="#{label.addressLine2}"></label>
                                            <input type="text" id="addressLine2" class="form-control"
                                                   name="addressLine2" th:placeholder="#{label.addressLine1}+' ++'">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city" th:text="#{label.city}"></label>
                                            <input type="text" id="city" class="form-control"
                                                   name="city" th:placeholder="#{label.city}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="province" th:text="#{label.province}"></label>
                                            <input type="text" id="province" class="form-control"
                                                   name="province" th:placeholder="#{label.province}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="country" th:text="#{label.country}"></label>
                                            <input type="text" id="country" class="form-control"
                                                   name="country" th:placeholder="#{label.country}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="postalCode" th:text="#{label.postalCode}"></label>
                                            <input type="text" id="postalCode" class="form-control"
                                                   name="postalCode" th:placeholder="#{label.postalCode}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="clientEmail" th:text="#{label.companyEmail}"></label>
                                            <input type="email" id="clientEmail" class="form-control"
                                                   name="clientEmail" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" th:placeholder="'Email'" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="clientPhone" th:text="#{label.companyPhone}"></label>
                                            <input type="number" id="clientPhone" class="form-control"
                                                   name="clientPhone" th:placeholder="'Phone'" required>
                                        </div>
                                    </div>
                                    <!--div class="form-group col-12">
                                        <div class='form-check'>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox5" class='form-check-input' checked>
                                                <label for="checkbox5">Remember Me</label>
                                            </div>
                                        </div>
                                    </div-->
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->
</div>