<div th:fragment="toast-confirm(cancel, update, delete)" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="confirmDeleteToast" class="toast-confirm">
        <div id="confirmMessage"></div>
        <div class="toast-actions">
            <button id="cancelDelete" class="btn btn-sm btn-secondary">Batal</button>
            <button id="confirmDelete" class="btn btn-sm btn-danger">Hapus</button>
        </div>
    </div>
    <div id="confirmUpdateToast" class="toast-confirm">
        <div id="confirmUpdateMessage"></div>
        <div class="toast-actions">
            <button id="cancelUpdate" class="btn btn-sm btn-secondary">Batal</button>
            <button id="confirmUpdate" class="btn btn-sm btn-danger">Update</button>
        </div>
    </div>
</div>