<th:block th:fragment="areaList(items)" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="list-group" id="itemList">
        <li th:each="item, stat : ${items}"
            class="list-group-item d-flex justify-content-between align-items-center"
            th:attr="data-id=${item.id}, data-indent=${item.indentLevel}"
            onclick="console.log(this.dataset.editable, this.dataset.name)">

        <span class="item-text">
          <!-- tampilkan path hanya bila ada -->
          <small th:if="${item.path != null and #strings.isNotEmpty(item.path)}"
                 class="item-path text-muted d-block"
                 th:utext="|${item.path}|"></small>

            <!-- name (editable) — padding diterapkan pada name agar indent tetap benar) -->
          <span class="item-name"
                th:style="${item.parent != null} ? 'padding-left:' + (${item.indentLevel} * 25) + 'px;'"
                th:utext="|${item.name}|"></span>
        </span>

            <div class="btn-group mb-0 btn-group-sm buttons">
                <a th:if="${item.editable}" href="#" class="btn btn-sm btn-primary edit-btn" style="margin:0; transform: scale(0.8); transform-origin: center;"><i class="bi bi-pencil"></i></a>
                <a th:if="${item.editable}" href="#" class="btn btn-sm btn-danger delete-btn" style="margin:0; transform: scale(0.8); transform-origin: center;"><i class="bi bi-trash"></i></a>
                <a th:if="${item.indentLevel == 0}"
                    href="#" class="btn btn-sm btn-success add-sub-btn"
                   style="margin:0; transform: scale(0.8); transform-origin: center;"><i class="bi bi-plus"></i></a>
            </div>
            <!--div class="btn-group mb-3 btn-group-sm buttons" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-sm btn-primary edit-btn"><i class="bi bi-pencil"></i></a>
                <a href="#" class="btn btn-sm btn-success add-sub-btn"><i class="bi bi-plus"></i></a>
                <a href="#" class="btn btn-sm btn-danger delete-btn"><i class="bi bi-trash"></i></a>
            </div-->
        </li>
    </ul>
</th:block>
